<%= form_for @yak, :class => "form-control", remote: true do |f| %>
  <div class="form-group">
  <%= f.label :Yak! %>

  <%= f.text_field :body, id: "yak_body" %>

  <%= f.submit "Yak", :class => "btn btn-success" %>
<% end %>
</div>
