<%= form_for @yak, :class => "form-control", remote: true do |f| %>
  <div class="form-group">
  <%= f.label :Yak! %>
  <br>
  <%= f.text_area :body, id: "yak_body", rows: 1, cols: 120 %>
  <br>
  <br>

  <%= f.submit "Yak", :class => "btn btn-success" %>
<% end %>
</div>
