body {
  background-image: url(http://31.media.tumblr.com/tumblr_m0qza6PWNl1r8qcszo1_1280.jpg)
}

ul {
  list-style-type: none;
}

.box {
  border-style: solid;
  background-color: hsla(0, 100%, 100%, 0.75);
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

#yak_body {
  display: block;
  width: 100%;
}
